/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #6699cc;
    color: white;
    padding: 20px;
    text-align: center;
}

header {
    
    justify-content: start;
    display: flex;
    margin: 1000px;
    max-width: 960px;
    margin: 0 auto;
}

.nameLinks{
    align-items: center;
    justify-content: space-between;
    display: grid;
    padding-left:100px ;
}
.chet td{
    background-color: aqua;
}
main {
    max-width: 960px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #cce5ff;
    border-radius: 5px;
}

tbody tr td{background-color: #a3c9ee;
    padding: 10px;
    border: 5px solid #88a4f1;}
thead th {
    background-color: #6699cc;
    color: white;
    padding: 10px;
}
input {
    background-color: #ddebfa;
    border: 2px solid#9cc8f1;
    border-radius: 10px;
}

select option{
    background-color: #ddebfa;
    border: 1px solid#9cc8f1;
}

textarea{

    background-color: #ddebfa;
    border: 1px solid#9cc8f1;
}

button{

    background-color: #78b7fa;
    border: 2px solid#ffffff;
    
    color:#ffffff

}
footer{
    background-color: #ddebfa;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}
footer p {
    
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

